body {
  background-color: #C3BAAA;
}

h1 {
  color: #faf8d4;
  font-family: "Jura";
}

h2 {
  color: #0c0e0e;
  font-family: 'Jura', sans-serif;
}

h3 {
  color: #0c0e0e;
  font-family: 'Jura', sans-serif;
}

h4 {
  color: #0c0e0e;
  font-family: 'Jura', sans-serif;
}

div {
  color: #0c0e0e;
  font-family: 'Jura', sans-serif;
}
